@import "tailwindcss";

:root {
  --bg-light: hsl(0, 0%, 50%);
  --bg: hsl(0, 0, 50%);
  --bg-dark: hsl(0, 0%, 10%);
  --text: hsl(0 0 90%);
  --Puce: hsl(19, 24%, 36%);
  --path: "";
}
:root[data-theme="light"] {
  --bg-light: hsl(0, 0%, 90%);
  --bg: hsl(0, 0, 50%);
  --bg-dark: hsl(0, 0%, 80%);
  --Puce: hsl(19, 24%, 36%);
  --text: hsl(0 0 10%);
}
body {
  background: var(--bg-dark);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
.glass-effect {
  background: hsla(0, 0%, 0%, 0);
  border-radius: var(--radius-2xl);
  /* box-shadow: 0 4px 8px hsla(0, 39%, 89%, 0.1); */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: var(--blur-md);
  border: 1px solid var(--bg);
}
.bg-primary {
  background-color: var(--Puce);
}
.button {
  @apply m-2 px-4 py-2 bg-blue-500 text-white rounded-lg hover:cursor-pointer;
}
.button-2 {
  @apply px-6 py-2 border rounded-lg hover:cursor-pointer hover:bg-(--bg);
}
.bg {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: -50;
  background-image: var(--path);
}
